body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
  "Segoe UI", Roboto, sans-serif;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    120deg,
    #eef2f7,
    #e6ecf5,
    #f5f7fb
  );

  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}